@import url(./reset.css);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

@font-face {
  font-family: 'Segoe UI';
  src: url('./../assets/fonts/Segoe-UI.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: url('./../assets/fonts/Segoe-UI-Bold.woff') format('woff');
}

:root {
  /* ======== Fonts ======== */
  --ff-primary: 'Segoe UI', sans-serif;
  --ff-primary-bold: 'Segoe UI Bold', sans-serif;

  /* ======== Typography ======== */
  --text-size-xxl: 2.5rem;
  --text-size-xl: 2rem;
  --text-size-md: 1.5rem;
  --text-size-base: 16px;
  --text-size-sm: 0.875rem;
  --text-size-xs: 0.75rem;

  /* ======== Colors ======== */
  --color-background: #14141480;
  --color-light-blue: #47476e;
  --color-dark-blue: #343452;
  --color-light-gray: #3b3b3b;
  --color-gray: #292929;
  --color-dark-gray: #222222;
  --color-black: #191919;
  --color-white-smoke: #f5f5f5;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: var(--text-size-base);
  font-family: var(--ff-primary);
  color: var(--color-white-smoke);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  background-image: url(./../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* ======== Grid-Layout  ======== */

.container {
  height: 90%;
  width: 90%;
  max-height: 600px;
  max-width: 1366px;
  margin: auto;
  display: grid;
  grid-template-areas:
    'header header header'
    'nav sidebar content';

  grid-template-columns: 70px 2fr 6fr;
  grid-template-rows: 50px 1fr;
}

.main-header {
  grid-area: header;
  position: relative;
}

.main-nav {
  grid-area: nav;
}

.main-header,
.main-nav {
  background: var(--color-black);
}

.main-content {
  grid-area: content;
  background: var(--color-gray);
}

.main-aside {
  grid-area: sidebar;
  background: var(--color-dark-gray);
}

/* ======== Header ======== */

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.history {
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  opacity: 50%;
}

.history .arrow-left:hover,
.arrow-right:hover {
  opacity: 75%;
}

.search {
  margin-left: 15.5%;
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.search input {
  min-width: 100%;
  border: 1px solid var(--color-black);
  background-color: var(--color-light-gray);
  padding: 0.6rem;
  color: var(--color-white-smoke);
}

.controls {
  display: flex;
  align-items: center;
}

.controls i {
  margin-right: 1rem;
  filter: invert(1);
  color: var(--color-light-gray);
}

.controls i:hover {
  filter: invert(0);
  color: var(--color-light-blue);
  cursor: pointer;
}

.controls img {
  margin-right: 2rem;
}

/* ======== Nav ======== */
.nav-boxes {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-boxes .nav-box {
  max-height: 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

.nav-boxes .nav-box:hover,
.nav-boxes .nav-main .nav-box:first-child {
  background-color: var(--color-gray);
  cursor: pointer;
}

.nav-boxes .nav-box i {
  font-size: var(--text-size-md);
  margin: 0;
  filter: invert(1);
  color: var(--color-light-gray);
}

.nav-boxes .nav-box:hover i,
.nav-boxes .nav-main .nav-box:first-child i {
  filter: invert(0);
  color: var(--color-light-blue);
}

.nav-boxes .nav-box p {
  margin: 0;
  font-size: var(--text-size-xs);
}

/* ======== Sidebar ======== */
.section-header {
  max-height: 5rem;
  padding-left: 1rem;
  border-bottom: 2px solid var(--color-black);
  font-family: var(--ff-primary-bold);
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-aside .card {
  height: 4rem;
  overflow: hidden;
  border-radius: 5px;
  margin: 3px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--text-size-xs);
  opacity: 75%;
  cursor: pointer;
}

aside .card:nth-child(1),
aside .card:hover {
  background-color: var(--color-light-gray);
  opacity: 100%;
}

.card-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

aside .card .card-description h4 {
  margin-bottom: -10px;
}

aside .card .card-description p {
  height: var(--text-size-base);
  overflow: hidden;
}

/* ======== Main ======== */
.chat-boxes {
  padding: 0 4%;
  overflow-y: scroll;
  max-height: 60vh;
}

.chat-boxes .third-person {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 1rem;
}

.chat-boxes .third-person img {
  margin-top: 10px;
}

.chat-boxes .third-person .chat-texts p {
  display: inline-block;
  padding: 10px;
  margin: 1px;
  border-radius: 5px;
  background: var(--color-light-gray);
}

.chat-boxes .third-person .chat-texts p span {
  font-family: var(--ff-primary-bold);
  font-size: var(--text-size-xs);
  opacity: 75%;
}

.chat-boxes .first-person {
  text-align: end;
  margin-bottom: 1rem;
}

.chat-boxes .first-person .chat-texts p {
  display: inline-block;
  padding: 10px;
  margin: 1px;
  border-radius: 5px;
  background-color: var(--color-dark-blue);
}

.new-chat {
  padding: 3% 6%;
  margin-left: 2rem;
  border-top: 1px solid var(--color-black);
  display: flex;
  flex-direction: column;
}

.new-chat input {
  border: 1px solid var(--color-black);
  background-color: var(--color-light-gray);
  padding: 0.6rem;
  color: var(--color-white-smoke);
}

.new-chat .chat-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-chat .chat-tools i {
  margin: 0.6rem 0.7rem;
  filter: invert(1);
  color: var(--color-light-gray);
}

.new-chat .chat-tools i:hover {
  filter: invert(0);
  color: var(--color-light-blue);
  cursor: pointer;
}
